
{% extends 'base.html.twig' %}


{% block body %}
    <div class="bar-white" >
        <div class="container">
            <div class="row">
                <h1 class="page-title">ERROR 403. Page not found</h1>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {# ... #}
                {% endif %}

                <p>
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}