{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}


    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>products number</th>
            <th>products</th>
        </tr>
        </thead>

        <tbody>

            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.products|length }}</td>
                <td>

                    {% if category.products|length %}
                        {% for product in category.products %}
                            <a href="{{ path('back_product', {'id':product.id}) }}">
                                <span class="tag tag-pill tag-default">{{ product.name }}</span></a>
                        {% endfor %}
                    {% else %}
                        <span>No Products in this Category.</span>
                    {% endif %}

                </td>
            </tr>

        </tbody>

    </table>

{% endblock %}

