{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>products number</th>
            <th>products</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>{{ tag.products|length }}</td>
                <td>
                    {% if tag.products|length %}
                        {% for product in tag.products %}
                            <a href="{{ path('back_product', {'id':product.id}) }}">
                                <span class="tag tag-pill tag-default">{{ product.name }}</span></a>
                        {% endfor %}
                    {% else %}
                        <span>No Products assigned.</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>

    </table>

{% endblock %}

