{% extends 'index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Please fill this form to add new Product.</h3>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'name or title'} }) }}
                    {{ form_row(form.thumbnail, {'attr': {'class': 'form-control', 'placeholder': 'from 001.jpg to 045.jpg'} }) }}
                    {{ form_row(form.category, {'attr':{'class': 'form-control entity-form'}}) }}
                    {{ form_row(form.tags, {'attr':{'class': 'form-control entity-form'}}) }}
                    {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'short description', 'rows':5} }) }}
                </div>

                <div class="form-group btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-send"></i> Add Product</button>
                    <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i> Clear Form</button>
                </div>
                {{ form_end(form) }}

            </div>

            <div class="col-md-6">

            </div>
        </div>

    </div>
{% endblock %}
