<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                myStock! - {{ app.request.get('_route')|capitalize }}
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-dollar.ico') }}" />


        {% block stylesheets %}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="{{ asset('css/hover.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>




    </head>
    <body>

        {% include 'mainNavbar.html.twig' %}
        {% block body %} {% endblock %}

        <hr>

        <div class="container">
        {% set bundle = app.request.get('_route')|slice(0, 5)  %}
        {% if bundle != 'back_' %}
            <footer class="bar-white box-round">
        {% else %}
                <footer class="bar-inverse box-round">
        {% endif %}
                <h6><i class="fa fa-dollar"></i> myStock! &copy; 2016 - All Rights Reserved</h6>
            </footer>
        </div>


        {% block javascripts %}{% endblock %}
    </body>
</html>
