


<div class="container ">
    <div class="row col-md-12" style="margin-left: 5px;">

        <hr>
        {% for product in products %}
            <div class="thumb-box">
                <div class="hoverEffect">
                    <img src="{{ asset('thumbnails/'~product.thumbnail) }}" height="131" width="131">

                    <a href="{{ path('details',{'id':product.id}) }}">
                        <div class="overlay">
                            <span class="info info-small">{{ product.name }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>