{% extends 'index.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ asset('thumbnails/'~product.thumbnail) }}">
            <img src="{{ asset('thumbnails/'~product.thumbnail) }}" class="img-fluid" >
            </a>
        </div>

        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <hr>
            <p>{{ product.description  }}</p>
            <ul>
                <li>Id: {{ product.id }}</li>
                <li>Downloaded: {{ product.downloaded }}</li>
                <li>Created date: {{ product.createDate|date('d/m/Y H:i:s') }}</li>
                <li>Updated date: {{ product.updateDate|date('d/m/Y H:i:s ') }}</li>

                <li>
                {% if product.category|length %}
                    Category:
                    <span class="tag tag-pill tag-primary">{{ product.category.name }}</span>
                {% else %}
                    <span>No Category assigned.</span>
                {% endif %}
                </li>

                <li>
                {% if product.tags|length %}
                    Tags:
                    {% for tag in product.tags %}
                        <span class="tag tag-pill tag-default">{{ tag.name }}</span>
                    {% endfor %}
                {% else %}
                    <span>No Tags assigned.</span>
                {% endif %}
                </li>
            </ul>
            <hr>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="btn-group">
                    <a href="{{ path('edit', {'id':product.id}) }}" class="btn btn-outline-primary ">
                        <i class="fa fa-pencil"></i> Edit</a>
                    <a href="{{ path('delete', {'id':product.id}) }}" class="btn btn-danger ">
                        <i class="fa fa-eraser"></i> Delete</a>
                </div>
            {% endif %}
        </div>

    </div>

</div>


{% endblock %}