{% extends 'index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ asset('thumbnails/014.jpg') }}" class="img-fluid">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Donec iaculis at nisl at malesuada. Donec a finibus nibh, consequat dictum dui. Nulla consequat dolor in porttitor auctor. Phasellus rutrum nisl eget vestibulum ornare.<br> Ut leo ipsum, finibus ut convallis sit amet, venenatis vel augue. Suspendisse commodo turpis ut odio commodo, nec molestie elit finibus. Nam pellentesque diam ac elementum facilisis. Phasellus a lorem non orci varius vehicula quis sit amet tellus.
                </p><hr>
            </div>

            <div class="col-md-6">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p>Cras efficitur massa maximus elit fermentum, scelerisque cursus nunc scelerisque. Suspendisse placerat vitae quam sit amet pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>Vivamus posuere nunc mattis pharetra mollis. Mauris quam ligula, scelerisque lobortis venenatis in, molestie a massa. <br>Nunc ut facilisis ligula. Donec blandit sapien eget magna pulvinar, eget feugiat neque sagittis. Nulla scelerisque ex ligula, a bibendum turpis tincidunt ut. Praesent vulputate tincidunt dolor, sed mollis sem dapibus eu. Vivamus vel aliquam massa. Donec risus mauris, egestas id accumsan vitae, vestibulum et enim.<br> Nam blandit tincidunt nisi, vel scelerisque risus rutrum a. Aenean congue congue leo at lobortis.
                </p>
                <p>Praesent in sem purus. Vestibulum ac augue magna. Mauris ut dui eget dolor sollicitudin tincidunt. Aliquam erat volutpat. Cras imperdiet dignissim lacus ut aliquam. Vestibulum nec justo urna.</p><hr>
            </div>
        </div>

    </div>
{% endblock %}
