{% extends 'base.html.twig' %}

{% block body %}

<div class="bar-white" >
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <h1 class="page-title">{{ app.request.get('_route')|capitalize }}</h1>
         </div>
         <div class="col-md-4 text-md-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
               <h6>Welcome <strong>{{ app.user.username|capitalize }}</strong>, Have a Nice Day!
            {% else %}
               Welcome <strong>Anonymous</strong>, Have a Nice Day!<br>
               Login: <strong>demo</strong>, Password: <strong>demo</strong></h6>
            {% endif %}
         </div>
      </div>
   </div>
</div>

{% if app.request.get('_route') == 'home' or app.request.get('_route') == 'products' %}
   {% include 'search.html.twig' %}
{% endif %}



{% if app.request.get('_route') == 'home' %}
   {% include 'carousel.html.twig' %}
{% endif %}


{% block content %} {% endblock %}

{% endblock %}

