{% extends 'index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                <form action="{{ path('login') }}" method="post">

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" class="form-control"
                               placeholder="your username" value="{{ last_username }}" />

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control"
                               placeholder="your password"/>
                    </div>
                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}
                    <div class="form-group btn-group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user"></i> Login</button>
                    </div>
                </form>

            </div>

            <div class="col-md-4"></div>
        </div>

    </div>
{% endblock %}
