
{% macro active(item) %}
    {% set current = app.request.get('_route') %}
    {% if current == item %} active {% endif %}
{% endmacro %}

{% macro navbarColor() %}
    {% set bundle = app.request.get('_route')|slice(0, 5)  %}
    {% if bundle != 'back_' %}
        navbar-dark bg-inverse
    {% else %}
        navbar-light bg-faded
    {% endif %}
{% endmacro %}


<nav class="navbar navbar-full {{ _self.navbarColor }}">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}"><i class="fa fa-dollar"></i> myStock!</a>

        <ul class="nav navbar-nav">

            <li class="nav-item {{ _self.active('products') }}">
                <a class="nav-link" href="{{ path('products') }}">Products</a>
            </li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item" {{ _self.active('add') }}>
                    <a class="btn btn-primary" href="{{ path('add') }}"><i class="fa fa-plus"></i> Add Product</a>
                </li>
            {% endif %}

            <li class="nav-item {{ _self.active('contact') }}">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>

            <li class="nav-item {{ _self.active('about') }}">
                <a class="nav-link" href="{{ path('about') }}">About</a>
            </li>
        </ul>

        <ul class="nav navbar-nav float-md-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}"> Log Out</a>
                </li>

                {% set bundle = app.request.get('_route')|slice(0, 5)  %}
                {% if bundle != 'back_' %}
                    <li class="nav-item {{ _self.active('back_home') }}" >
                        <a class="btn btn-primary" href="{{ path('back_home') }}"><i class="fa fa-random"></i> Go to Admin Page</a>
                    </li>
                {% else %}
                    <li class="nav-item {{ _self.active('home') }}" >
                        <a class="btn btn-primary" href="{{ path('home') }}"><i class="fa fa-random"></i> Go to Home Page</a>
                    </li>
                {% endif %}

            {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('login') }}"
                       id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>

                    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">

                        <form action="{{ path('login') }}" method="post" style="margin: 0 10px 0 10px;">
                            <div class="form-group">
                                <input type="text" id="username" name="_username"
                                       placeholder="username" class="form-control form-control-sm" />
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="_password"
                                       placeholder="password" class="form-control form-control-sm"/>
                            </div>

                            <div class="form-group btn-group">
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-user"></i> Login</button>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item {{ _self.active('register') }}">
                    <a class="nav-link" href="{{ path('register') }}">Register</a>
                </li>

            {% endif %}


        </ul>

    </div>
</nav>

