{% if pageCount > 1 %}

    <nav aria-label="Page navigation">
        <ul class="pagination">

            {# frist #}
            {% if first is defined and current != first %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}" aria-label="First">
                        <span aria-hidden="true"><i class="fa fa-fast-backward" aria-hidden="true"></i></span>
                        <span class="sr-only">First</span>
                    </a>
                </li>
            {% endif %}

            {# previus #}
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {# range #}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <a class="page-link">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {# next #}
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}


            {# last #}
            {% if last is defined and current != last %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}" aria-label="Last">
                        <span aria-hidden="true"><i class="fa fa-fast-forward" aria-hidden="true"></i></span>
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}