{% extends 'index.html.twig' %}

{% block content %}


<div class="container text-md-right">
    <div class="row col-md-12">

        {% if searchText|length %}
            <h6>Searched text: <strong>{{ searchText }}</strong></h6>
        {% endif %}

        {% if  products|length %}
        <h6>Products on page: <strong>{{ products|length }}</strong>,
            sorted by: <strong>{{ knp_pagination_sortable(products, 'Id', 'p.id') }}</strong>
            or <strong>{{ knp_pagination_sortable(products, 'Name', 'p.name') }}</strong>
        </h6>
        {% endif %}

    </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12" style="margin-left: 5px;">
        {% for product in products %}
            <div class="thumb-box">
                <div class="hoverEffect">
                    <img src="{{ asset('thumbnails/'~product.thumbnail) }}" height="180" width="180">

                    <a href="{{ path('details',{'id':product.id}) }}">
                        <div class="overlay">
                            <span class="info">{{ product.name }}</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# paginator #}
<div class="container text-md-right">
    <div class="row col-md-12">
        <h6>Total products: <strong>{{ products.getTotalItemCount }}</strong>,
            Total pages: <strong>{{ products.pageCount }}</strong>
        </h6>

        {{ knp_pagination_render(products) }}

    </div>
</div>
{# end paginator #}


{% endblock %}