{% extends 'index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4"></div>

            <div class="col-md-4">

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'your username'} }) }}
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'your email'} }) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'password'} }) }}
                    {{ form_row(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'repeat password'} }) }}
                </div>

                <div class="form-group btn-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user"></i> Register</button>
                </div>
                {{ form_end(form) }}

            </div>

            <div class="col-md-4"></div>
        </div>

    </div>
{% endblock %}
