<div class="container">
    <div class="row" style="margin: 30px 0 30px 0">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="get" action="{{ path('products') }}">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for products ..."
                           name="search" id="search" value="{{ searchText }}" >
                  <span class="input-group-btn">
                  <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"></i> Go!</button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>