{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}

    <h3>All Categories: {{ categories|length }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>products number</th>
                <th>products</th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.id }}</td>
                <td><a href="{{ path('back_category', {'id':category.id}) }}">{{ category.name }}</a></td>
                <td>{{ category.description }}</td>
                <td>{{ category.products|length }}</td>
                <td>

                {% if category.products|length %}
                    {% for product in category.products %}
                        <a href="{{ path('back_product', {'id':product.id}) }}">
                            <span class="tag tag-pill tag-default">{{ product.name }}</span></a>
                    {% endfor %}
                {% else %}
                    <span>No Products in this Category.</span>
                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}

