{% extends 'BackBundle:back:index.html.twig' %}


{% block content %}

    <h3>All Products: {{ products|length }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>thumbnail</th>
            <th>downloaded</th>
            <th>category</th>
            <th>tags number</th>
            <th>tags</th>
            <th>createDate</th>
            <th>updateDate</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.id }}</td>
                <td><a href="{{ path('back_product', {'id':product.id}) }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ product.thumbnail }}</td>
                <td>{{ product.downloaded }}</td>
                <td>
                    {% if product.category|length %}
                           <a href="{{ path('back_category', {'id':product.category.id}) }}">
                               <span class="tag tag-pill tag-default">{{ product.category.name }}</span>
                           </a>
                    {% else %}
                        <span>No Category assigned.</span>
                    {% endif %}
                </td>
                <td>{{ product.tags|length }}</td>
                <td>
                    {% if product.tags|length %}
                        {% for tag in product.tags %}
                            <a href="{{ path('back_tag', {'id':tag.id}) }}">
                                <span class="tag tag-pill tag-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <span>No Tags assigned.</span>
                    {% endif %}

                </td>
                <td>{{ product.createDate|date('d/m/Y') }}</td>
                <td>{{ product.updateDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>


{% endblock %}

