{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}

    <h3>All Products_Tags: {{ products_tags|length }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>product_id</th>
            <th>tag_id</th>
        </tr>
        </thead>

        <tbody>
        {% for pt in products_tags %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ pt.product_id }}</td>
                <td>{{ pt.tag_id }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}

