{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}

    <h3>All Tags: {{ tags|length }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>products number</th>
            <th>products</th>
        </tr>
        </thead>

        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ tag.id }}</td>
                <td><a href="{{ path('back_tag', {'id':tag.id}) }}">{{ tag.name }}</a></td>
                <td>{{ tag.products|length }}</td>
                <td>
                    {% if tag.products|length %}

                        {% for product in tag.products %}
                         <a href="{{ path('back_product', {'id':product.id}) }}">
                             <span class="tag tag-pill tag-default">{{ product.name }}</span></a>
                        {% endfor %}

                    {% else %}
                        <span>No Products assigned.</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}

