{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}

    <h3>All Users: {{ users|length }}</h3>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>isActive</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isActive }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

