.thumb-box {
    display: inline-block;
}
.hoverEffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hoverEffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.hoverEffect:hover .overlay {
    background-color: rgba(0,0,0,0.4);

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 62%, rgba(0,0,0,0.86) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(62%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.86)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 62%, rgba(0,0,0,0.86) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 62%, rgba(0,0,0,0.86) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 62%, rgba(0,0,0,0.86) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 62%, rgba(0,0,0,0.86) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.hoverEffect .info {
    opacity: 0;
    width: 100%;
    color: white;

    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

    position: absolute;
    bottom: 5%;
    left: 0;

}
.hoverEffect:hover .info {
    opacity: 1;
}

.hoverEffect .info-small {
    font-size: 12px;
}