
.bar-white {
    background-color: #f7f7f9;
    padding: 10px;
    margin-bottom: 10px;

}

.bar-inverse {
    color: #f7f7f9;
    background-color: #373a3c;
    padding: 5px;
    margin-bottom: 10px;

}

.box-round {
    border-radius: 10px;
}

.minHeight {
    min-height: 150px;
}
.table-container {
    min-height: 150px;
    margin: 0 50px 0 50px;
}

a .tag:hover {
    background-color: #373a3c;
}

.tag {
    font-weight: normal;
}

label {
    margin-top: 1rem;
}

.entity-form input {
    margin: 5px;
}


