{% extends 'base.html.twig' %}

{% block body %}
    {% include 'BackBundle:back:navbar.html.twig' %}


<div class="bar-white" >
    <div class="container">
        {% set bundle = app.request.get('_route')|split('_')  %}
        <h1>{{ bundle[1]|capitalize }}</h1>

    </div>

</div>

<div class="table-container">
    {% block content %}{% endblock %}
</div>


{% endblock %}
