
{% macro active(item) %}
    {% set current = app.request.get('_route') %}
    {% if current == item %} active {% endif %}
{% endmacro %}

<nav class="navbar navbar-full navbar-dark bg-inverse">
<div class="container">
    <a class="navbar-brand" href="{{ path('back_home') }}">Admin</a>
    <ul class="nav navbar-nav">
        <li class="nav-item {{ _self.active('back_products') }}">
            <a class="nav-link" href="{{ path('back_products') }}">Products</a>
        </li>
        <li class="nav-item {{ _self.active('back_categories') }}">
            <a class="nav-link" href="{{ path('back_categories') }}">Categories</a>
        </li>
        <li class="nav-item {{ _self.active('back_tags') }}">
            <a class="nav-link" href="{{ path('back_tags') }}">Tags</a>
        </li>
         <li class="nav-item {{ _self.active('back_users') }}">
            <a class="nav-link" href="{{ path('back_users') }}">Users</a>
        </li>
        <li class="nav-item {{ _self.active('back_thumbnails') }}">
            <a class="nav-link" href="{{ path('back_thumbnails') }}">Thumbnails</a>
        </li>
        <li class="nav-item">
            &nbsp;
        </li>

    </ul>

    {% set current = app.request.get('_route') %}
    {% if current == 'back_search' or current == 'back_products' or current == 'back_categories' or current == 'back_tags'%}
        <form class="form-inline " method="post" action="{{ path('back_search') }}">
            <input class="form-control" type="text" placeholder="Search for products ..."
                   name="searchText" id="searchText" value="{{ searchText }}" >
            <button class="btn btn-outline-success" type="submit">Go!</button>
        </form>
    {% endif %}

</div>
</nav>

