<div style="background-color: #f3f3f3; margin: 15px 0 15px 0; padding: 10px;">

    <form role="search" method="post" action="{{ path('back_search') }}">
        <input type="text" class="form-control" placeholder="Search for products ..." name="searchText" id="searchText" value="{{ searchText }}">
        <button type="submit"> Go!</button>

    </form>
</div>



{# TODO: Zrób wyszukiwarkę po kategoriach oraz tagach
        Category:
        <select multiple name="searchCat" id="searchCat">
            {% for category in catList %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        Tags:
        <select multiple name="searchTag" id="searchTag">
            {% for tag in tagList %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
    </form>

    <p>All Categories:
        {% for c in catList %}
            <a href="{{ path('category', {'id':c.id}) }}">[{{ c.name }}]</a>
        {% endfor %}
    </p>
    <p>All Tags:
        {% for t in tagList %}
            <a href="{{ path('tag', {'id':t.id}) }}">[{{ t.name }}]</a>
        {% endfor %}
    </P>
#}
