{% extends 'BackBundle:back:index.html.twig' %}

{% block content %}


    <h3>Test Thumbnails</h3>

    <div class="row col-md-12">
    {% for i in 1..9 %}
        <div class="thumb-box">
            <div class="hoverEffect">
                <img src="{{ asset('thumbnails/00'~i~'.jpg') }}" height="180" width="180">

                <a href="{{ asset('thumbnails/00'~i~'.jpg') }}">
                <div class="overlay">
                    <span class="info">thumbnails/00{{ i }}.jpg</span>
                </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row col-md-12">
    {% for i in 10..45 %}
        <div class="thumb-box">
            <div class="hoverEffect">
                <img src="{{ asset('thumbnails/0'~i~'.jpg') }}" height="120" width="120">

                <a href="{{ asset('thumbnails/0'~i~'.jpg') }}">
                    <div class="overlay">
                        <span class="info">thumbnails/0{{ i }}.jpg</span>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row col-md-12">
    {% for i in 41..44 %}
        <div class="thumb-box">
            <div class="hoverEffect">
                <img src="{{ asset('thumbnails/0'~i~'.jpg') }}" height="400" width="400">

                <a href="{{ asset('thumbnails/0'~i~'.jpg') }}">
                    <div class="overlay">
                        <span class="info">thumbnails/0{{ i }}.jpg</span>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    <h3><a href="http://placehold.it/">http://placehold.it/</a></h3>

    {% for i in 0..10 %}
        <img src="http://placehold.it/150x150">
    {% endfor %}

{#
    <h3><a href="http://lorempixel.com/">http://lorempixel.com/</a></h3>

    {% for i in 0..10 %}
        <img src="http://lorempixel.com/150/150/sports/{{ i }}">
    {% endfor %}
#}



{% endblock %}